---
---
@charset "utf-8";

@import 'variables';

@import 'basscss';

@import 'base';

@import 'links';
@import 'positions';
@import 'clearfix';
@import 'code';
@import 'forms';
@import 'typography';
@import 'header';
@import 'tables';
@import 'animations';
@import 'tables';
@import 'footer';
@import 'social-icons';
@import 'blockquotes';
@import 'posts';
@import 'media-queries';
@import 'gists';
@import 'measure';
@import 'pagination';

h2 {
    margin-top: 2em;
    font-weight: normal;
    text-align: center;
}
h2:after {
    border-bottom: 1px solid #0076df;
    content: '';
    width: 100px;
    display: block;
    margin: 0 auto;
    height: 1px;
}

code {
    font-size: 0.8rem;
    line-height: 1rem;
    font-family: "Source Code Pro", Consolas, monospace;
}