div.highlight{
  width: 55%;
}
.highlight {
  -webkit-text-size-adjust:none
}
.highlight .c1 {
  color:#777;
  font-style:italic
}
.highlight .k,.highlight .kp {
  color:#333
}
.highlight .mi {
  color:#00ab37
}
.highlight .s1 {
  color:#f95020
}
.hljs-title,.hljs-id,.scss .hljs-preprocessor {
  color:#f95020;
  font-weight:bold
}
.highlight .k {
  font-weight:normal
}
.highlight .nc,.highlight .no {
  color:#00369f
}
.highlight .o {
  color:#00369f;
  font-weight:normal
}
.highlight .nb {
  color:#00ab37
}
.highlight .sr {
  color:#00ab37
}
.highlight .ss {
  color:#f92080
}