$viewport-small: 32em;
$viewport-medium: 48em;
$viewport-large: 64em;

$pre-border-radius: 0;
$pre-background-color: #fafafa;
//$font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font-family: 'Inter UI var', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$monospace-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

//Typography
$base-font-size: 1rem !default;
$bold-font-weight: bold !default;
$abbr-border-bottom: 1px black dotted;

//colors
$blue: #0076df !default;
$red: #f95020 !default;
$green: #00cf26 !default;
$yellow: #efcc00 !default;
$orange: #ffcc22 !default;
$purple: #f92080 !default;
$dark-blue: #00369f !default;
$dark-green: #00ab37 !default;
$dark-green: #009f06 !default;
$light-pink: #ffdddd !default;
$light-green: #ddffdd !default;
$dark-gray: #111 !default;
$mid-gray: #777 !default;
$light-gray: #ccc !default;
$lighter-gray: #eee !default;
$darken-1: rgba(#000, .0625) !default;
$darken-2: rgba(#000, .125) !default;
$darken-3: rgba(#000, .25) !default;
$darken-4: rgba(#000, .5) !default;
